<nav class="navbar bg-success py-3">
    <div class="container-fluid justify-content-center">
        <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-cart-arrow-down fs-1 text-white"></i>
        </button>
    </div>
</nav>